@import url('https://fonts.googleapis.com/css2?family=ubuntu:wght@300;400;700&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
list-style:none;
font-family:'ubuntu',sans-serif;
}

body{
    background:#ffffff;
}

.resume{
width:800px;
background:#bdf3fa;
margin: 25px auto;
display:flex;
}
/*black side*/
.left{
    background-color:#87e6f7;
    width:300px;
    padding:0 20px;
}
/*white side*/
.right{
    width:calc(100% - 250px);
}
.left .img_holder{
     text-align:center;
     padding:20px 0;
}
.rounded-img
{
    width:200px;/* adjust the width and height as needed*/
    height:200px;
    border-radius:50%;
    overflow:hidden;
}
.rounded-img img
{
    width: 100%;/* adjust the width and height as needed*/
    height: 100%;
    object-fit:cover;/* Maintain aspect ratio and cover the container*/
}
.pb{
    padding-bottom:20px;
}
.title{
    font-size:24px;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing:2px;
    padding-bottom:10px;
    color:#010207;
    position:relative;
    text-align: left;
    margin-bottom: 15px;
}
.title:before{ /*for that small line under contact*/
    content:"";
    position:absolute;
    top:35px;
    width:230px;
    height:3px;
    background: #010107;
}
.left .icon{
    font-size:20px;
    color:#000000
}
.left .text{
    color:#030314;
   
    font-size:16px;
}
/* css for details like contact, skill and hobbies*/
.contact .li_wrap{
    display:flex;
    align-items:center;
    width: 100%;
    margin-bottom: 15px;;
}
.contact .li_wrap .icon{
    width:50px;
    height:50px;
    background:hwb(200 98% 1%);
    border-radius:15px;
    display:flex;
    justify-content: center;
    margin-right:15px;
    padding-top:15px;
}
.contact .li_wrap .text{
   width: calc(100% - 50px);
    word-break: break-word;
    color:#050101;

}
.skills ul,
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.skills .li_wrap,
.hobbies .li_wrap{
    width:100px;
    height:100px;
   margin-bottom: 15px;
    border-radius:15px;
    display:flex;
   flex-direction: column; 
   align-items: center;
   justify-content:center;
   border:5px solid #ffffff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
    margin-top:5px;
}
.hobbies .li_wrap{
    border:2px solid #fff;
}
.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
   color:#fff;
}
.hobbies .li_wrap:hover{
    background:#f6f8f8;
}
.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
   color:#d7edf3;
}

.header{
    background: #87e6f7;
    padding:15px 30px;
    color:#010b0f;
    height: 280px;
}
.header .name{
   font-size:52px;
   text-transform:uppercase;
   font-weight:700;
    color:#000203
}
.header .role{
    font-weight:800;
    font-size:20px;
    color:#3578b8
}
.header .about{
   margin-top: 10px;
   line-height: 26px;
}

.right_inner{
    padding: 30px;
    color:#3578b8
}

.right_inner .edu{
    margin-top: 30px;

}
.right_inner .project{
    margin-top: 30px;

}
.right_inner .achivements{
    margin-top: 30px;

}
.right_inner .li-wrap{
    display :flex;
    margin-bottom: 15px;
    
}
.right_inner .li_wrap .date{
width :125px;
color:#3578b8
}
.right_inner .li_wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}
.right_inner .li_wrap .info_title{
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:2px;
    color:#3578b8
}
.right_inner .li_wrap .info_cont{
margin-top: 15px;
}
.right_inner .li_wrap .info:before{
    content: "";
    position:absolute;
    top:3px;
    left:0;
    width:10px;
    height:10px;
    background: #000000
}
.right_inner .li_wrap .info:after{
    content: "";
    position:absolute;
    top:10px;
    left:0;
    width:2px;
    height:90%;
    background: #1b7e9c;
}

